body{
    font-size: 20px;
    background-color: burlywood;
}
h3{
    background-color: blue;
}
#firstname {
    background-color: burlywood;
}
#first
{
    background-color: burlywood;
}
p{
    margin-top: 12px;
    margin-bottom:12px;
    margin-right: 20px;
    margin-left: 20px;
}
div {
    padding-top: 25px;
    padding-bottom: 30px;
}

